$bg-color: #EBECEE;
$white: #FFFFFF;
$black: #000000;

$menu-title-color: #EB9B00;
$primary-color-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
$dark-blue: #002F52;
$our-grey: #474646;
$our-light-grey: #858585;