@import '../colors';
@import '../fonts';

.banner {
    background: $primary-color-gradient;
    color: $white;
    text-align: center;
    padding: 2.5em 2em;
}

.banner-title {
    font-size: 18px;
    font-weight: 700;
}

.banner-text {
    font-weight: 500;
    margin: 1em 0;
}

.banner-search {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    border-radius: 24px;
    padding: 1em;
    width: 100%;

    &::placeholder {
        font-family: $main-font;
        font-size: 14px;
        font-weight: 400;
        text-align: center;

        color: $white;

        background: url('../assets/AluraBooks/Lupa.svg') no-repeat;
    }

    &:focus {
        &::placeholder {
            transition: all .5s ease;
            background-position: -2em;
            color: transparent;
        }
    }

}


@media screen and (min-width: 1024px) {

    .banner-title {
        font-size: 36px;
    }

    .banner-search {
        width: 50%;
    }

}