@import '../colors';

.topics {
    padding: 1em 0;
    background: $primary-color-gradient;
    text-align: center;
}

.topics-title {
    color: $white;
    font-weight: 300;
    margin-bottom: 1em;
}

.topics-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics-item {
    margin: 2em .5em;
}

.topics-link {
    color: $white;
    padding: 1em;
    background-color: $menu-title-color;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}